.pet-link {
  padding-left: 100px;
  padding-right: 60px;
  font-size: 3rem;
  color: #297761;
}
.pet-link:hover {
  padding-left: 100px;
  padding-right: 60px;
  font-size: 3rem;
  color: rgb(22, 83, 66);
}
