span {
  color: #000;
}

#name{
  color: #8f7e73;
}


#delete {

  background-color: rgba(179, 57, 57, 0.71);
}
#delete:hover {

  background-color: rgb(181, 45, 41);
}

.dog-card-container {
  display: flex;
  flex-direction: column;
  background-color: #eec587;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 50px;
  cursor: grab;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.dog-card-container:hover {
  background-color: rgb(238, 217, 184);
}

.dog-card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.dog-pics {
  width: 90%;
}
