@import url('https://fonts.googleapis.com/css?family=Barriecito|Cinzel|Gloria+Hallelujah|Montserrat|Satisfy|Source+Sans+Pro&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Barriecito', cursive;
font-family: 'Cinzel', serif;
font-family: 'Satisfy', cursive;
font-family: 'Gloria Hallelujah', cursive; */

.App {
  text-align: center;
font-family: 'Source Sans Pro', sans-serif;
}
#nav {
  color: peru;
  background-color: rgb(6, 24, 12);
}

#about {
   position: relative
}

label {
  font-size: 1rem;
}

button {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.5rem;
  color: peru;
  height: 35px;
  width: 130px;
  background-color: rgba(6, 24, 12, 0.7);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
button:hover {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.5rem;
  color: peru;
  height: 35px;
  width: 130px;
  background-color: rgb(6, 24, 12);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}


.App {
  text-align: center;
}
ul {
    text-align: center;
    list-style: none;
}


.link {
  padding-left: 100px;
  padding-right: 120px;
  font-size: 1.5rem;
  color: rgb(140, 15, 41);
}
